    <div class="container">

      <div id="navigation">
	  
		<div id="button-back"><a href="#/home"><img src="img/button_back.png"></a></div>
		
		<div id="button-home"><a href="#/home"><img src="img/button_home.png"></a></div>
	  
	  </div>
	  
	  <div class="header" id="header-tips">
            <img src="img/header_tips.png" style="width:99%"/>
	  </div>
	  
	  <div id="tip-content">
	  
		  <p>{{tip}}</p>
	  </div>
	  
	  <div id="tip-navigation">
	  
		<a ng-show="showPrev" href="#tips/{{prevTip}}" class="left" ><img src="img/button_prev.png"></a>
		
		<a ng-show="showNext" href="#tips/{{nextTip}}" class="right" ><img src="img/button_next.png"></a>
	  
	  </div>
	
	  
    </div>
	

