    <div class="container workouts">

      <div id="navigation">
	  
		<div id="button-back"><a href="#/home"><img src="img/button_back.png"></a></div>
		
		<div id="button-home"><a href="#/home"><img src="img/button_home.png"></a></div>
	  
	  </div>
	  
	  <div class="header">
	    <img src="img/header_workout.png" style="width:99%"/>
	  
	  </div>
	  
	  <p id="section-intro">The Massterplan workout consists of three phases of ass-kickin, put yo body through hell, fuck overtraining routines. Get ready for hell mothafuckas! Click on a month below.</p>
	  

		<div id="workout-buttons">
		
			<a href="#/workouts/powerlifting" class="button">
				
				<span class="button-subhead">Month 1:</span>
				<span class="button-header">PowerLifting</span>
			
			</a>
			<a href="#/workouts/bodybuilding" class="button">
				
				<span class="button-subhead">Month 2:</span>
				<span class="button-header">Bodybuilding</span>
			
			</a>
			<a href="#/workouts/psycho_rep" class="button">
				
				<span class="button-subhead">Month 3:</span>
				<span class="button-header">Psycho Rep</span>
			
			</a>
		
		</div>
	
	  
    </div>
