
    <div class="container workouts">

      <div id="navigation">
	  
		<div id="button-back"><a href="#/workouts/powerlifting"><img src="img/button_back.png"></a></div>
		
		<div id="button-home"><a href="#/home"><img src="img/button_home.png"></a></div>
	  
	  </div>
	  
	  <div class="header">
                <img src="img/header_workout_back.png" style="width:99%"/>
		<div id="header-workout-toggle">
		
			<a href="#/workouts/powerlifting/back" class="button">Workout</a><a href="#/workouts/powerlifting/back-ct" class="button">CT's Set</a>
		
		</div>
	  
	  </div>
	  
	  <div id="workout-overview">
	  
	  <div class="column column-left">
	  
	  <div class="workout-exercise">
	  
	  <h4>Good Mornings</h4>
		<p>5 sets of 10-12 reps at 135 lbs.</p>

	</div>

		  <div class="workout-exercise">
		<h4>Deadlift</h4>
		<p>Set 1: 135lbs x 6 reps<br>
		Set 2: 225lbs x 6 reps<br>
		Set 3: 315lbs x 6 reps<br>
		Set 4: 405lbs x 4 reps<br>
		Set 5: 495lbs x 4 reps<br>
		Set 6: 550lbs x 4 reps<br>
		Set 7: 600lbs x 2 reps<br>
		Set 8: 650lbs x 2 reps<br>
		</p>
		</div>

	<div class="workout-exercise">
	<h4>Bent-over Barbell Rows</h4>
	<p>Set 1: 135lbs x 12 reps<br>
Set 2: 225lbs x 8-10 reps<br>
Set 3: 315lbs x 6-8 reps<br>
Set 4: 405lbs x 4-6 reps<br>
</p>
	</div>

	<div class="workout-exercise">
	<h4>Single-Arm Dumbbell Rows</h4>
	<p>Set 1: 100lbs x 15-16 reps<br>
Set 2: 125lbs x 15-16 reps<br>
Set 3: 150lbs x 8-10 reps<br>
Set 4: 175lbs x 6-8 reps<br>
Set 5: 200lbs x 4-6 reps
</p>
	</div>


	  </div>
	  
	  
	  
	  
<div class="column column-right">
	  
		<div class="workout-exercise">
		<h4>Weighted Pull-Up</h4>
		<p>Set 1: 100lbs x 6 reps<br>
Set 2: 150lbs x 6 reps<br>
Set 3: 150lbs x 6 reps<br>
Set 4: 150lbs x 6 reps<br>
Set 5: 150lbs x 6 reps
</p>
		</div>

	<div class="workout-exercise">
	<h4>Upright Rows</h4>
	<p>Set 1: 135lbs x 12-15 reps<br>
Set 2: 185lbs x 12-15 reps<br>
Set 3: 205lbs x 12-15 reps<br>
Set 4: 225lbs x 12-15 reps
</p>
	</div>

	<div class="workout-exercise">
	<h4>Dumbbell Rear Delt Raise</h4>
	<p>Set 1: 45lbs x 15-16 reps<br>
Set 2: 65lbs x 15-16 reps<br>
Set 3: 85lbs x 12 reps<br>
Set 4: 100lbs x 10 reps
</p>
	</div>
	
	<div class="workout-exercise">
	<h4>Bent-Over Cable Rear Delt Raise</h4>
	<p>5 sets of 20 reps at 100lbs</p>
	</div>	

	  
	  </div>
	  
	  
	  
	  </div>	  
	  
	  
	  <div id="ebook-link"><a href="#" onclick="window.open('http://www.ctfletcher.com/shop/ebooks', '_system');"><img src="img/button_ebook.png" style="width:50%"></a></div>

		
	
	  
    </div>
	

