.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #1F1F1F;
  box-shadow: 4px 4px 80px #000;
  color: #FFF;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.ng-modal-dialog p {
  text-align: center;
}
.ng-modal-dialog p.header {
  font-size:200%;
  padding-top: 25px;
}
.ng-modal-dialog .button {
  background-color:black;
  border:1px solid #FFF;
  width: 70%;
  margin: 30px auto;
}
.ng-modal-dialog span.title {
  float:left;
  padding-left:10px;
}
.ng-modal-dialog span.price, .ng-modal-dialog img.lock {
  float:right;
  padding-right:10px;
}
